<%# locals: species, submit_label %>
<%= form_with model: species do |f| %>
  <div class="field">
    <%= f.label :scientific_name, t("species.scientific_name") %>
    <%= f.text_field :scientific_name, class: "input", required: true %>
  </div>
  <div class="field">
    <%= f.label :water, t("lure.water") %>
    <%= f.select :water, Species.waters.keys.map { |w| [water_name(w), w] }, {}, class: "input" %>
  </div>
  <div class="field">
    <%= f.label :wikipedia_url, t("species.wikipedia_url") %>
    <%= f.url_field :wikipedia_url, class: "input", placeholder: "https://en.wikipedia.org/wiki/..." %>
  </div>
  <fieldset class="field" style="border:0;padding:0;margin:0">
    <legend style="font-weight:600;margin-bottom:4px"><%= t("species.local_names") %></legend>
    <p class="muted" style="font-size:13px;margin-bottom:8px"><%= t("species.local_names_hint") %></p>
    <% names = species.local_names || {} %>
    <% available_locales_for_switcher.each do |loc, meta| %>
      <div class="field">
        <%= label_tag "species_local_names_#{loc}", meta[:native] %>
        <%= text_field_tag "species[local_names][#{loc}]", names[loc.to_s], id: "species_local_names_#{loc}", class: "input" %>
      </div>
    <% end %>
  </fieldset>
  <div class="field">
    <%= f.label :photo, t("catch.photos") %>
    <div data-controller="image-upload">
      <% if species.photo.attached? %>
        <div class="upload-thumb" style="margin-bottom:10px">
          <%= image_tag species.photo.variant(resize_to_fill: [ 88, 88 ]), alt: species.common_name %>
        </div>
      <% end %>
      <div class="upload-drop" data-image-upload-target="drop"
           data-action="click->image-upload#browse dragover->image-upload#dragover dragleave->image-upload#dragleave drop->image-upload#drop">
        <%= t("contribute.add_photos") %>
      </div>
      <%= f.file_field :photo, accept: "image/*", style: "display:none",
            data: { image_upload_target: "input", action: "image-upload#add" } %>
      <div class="upload-previews" data-image-upload-target="previews"></div>
    </div>
  </div>
  <%= f.submit submit_label, class: "btn btn-primary" %>
<% end %>
