<%# locals: page (Paginatable::Page) %>
<% if page.total_pages > 1 %>
  <nav class="pager" aria-label="Pagination">
    <% if page.first? %>
      <span class="disabled"><%= t("common.prev") %></span>
    <% else %>
      <%= link_to t("common.prev"), url_for(request.query_parameters.merge(page: page.current - 1)) %>
    <% end %>

    <%= form_with url: request.path, method: :get, class: "pager-jump" do %>
      <% request.query_parameters.except("page").each do |key, value| %>
        <% Array(value).each do |v| %>
          <%= hidden_field_tag "#{key}#{"[]" if value.is_a?(Array)}", v, id: nil %>
        <% end %>
      <% end %>
      <%= text_field_tag :page, page.current, inputmode: "numeric", pattern: "[0-9]*",
            id: nil, aria: { label: t("common.page") } %>
      <span class="pager-total"><%= t("common.page_of", total: page.total_pages) %></span>
    <% end %>

    <% if page.last? %>
      <span class="disabled"><%= t("common.next") %></span>
    <% else %>
      <%= link_to t("common.next"), url_for(request.query_parameters.merge(page: page.current + 1)) %>
    <% end %>
  </nav>
<% end %>
