<%# locals: lure, submit_label %>
<%= form_with model: lure do |f| %>
  <div class="field">
    <label><%= t("lure.brand") %></label>
    <%= render "shared/combobox", name: "lure[brand_id]", options: @brands.map { |b| [b.name, b.id] }, selected: lure.brand_id, placeholder: t("search.any_brand") %>
  </div>
  <div class="field">
    <%= f.label :model, t("lure.model") %>
    <%= f.text_field :model, class: "input", required: true %>
  </div>
  <div class="field">
    <label><%= t("lure.type") %></label>
    <%= render "shared/combobox", name: "lure[lure_type_id]", options: @lure_types.map { |lt| [lure_type_name(lt), lt.id] }, selected: lure.lure_type_id, placeholder: t("search.any_type") %>
  </div>
  <div class="field">
    <%= f.label :blurb, t("lure.description") %>
    <%= f.text_area :blurb, class: "input" %>
  </div>
  <%= f.submit submit_label, class: "btn btn-primary" %>
<% end %>
