<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="ltr">
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= meta_description %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Lurepedia">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#ffffff">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= canonical_tag %>
    <%= hreflang_tags %>
    <%= robots_meta_tag %>
    <%= open_graph_tags %>
    <%= yield :head %>

    <link rel="icon" href="/favicon.ico" sizes="48x48">
    <link rel="icon" href="/favicon-32x32.png" type="image/png" sizes="32x32">
    <link rel="icon" href="/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
    <link rel="manifest" href="/site.webmanifest">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% if Rails.env.production? %>
      <!-- Privacy-friendly analytics by Plausible -->
      <script async src="https://stats.aparatnata.com/js/pa-yrQ1lr3rCNYdPJ-IcS7EQ.js"></script>
      <script>
        window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
        plausible.init()
      </script>
    <% end %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/flash" %>
    <%= render "shared/ban_notice" %>
    <main>
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
